@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ParkingZoneApp.ViewModels.ReservationVMs.FreeSlotsVMs
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family: Bahnschrift">Filter for reservation</h2>
<div class="row" style="font-family: Bahnschrift; font-size: 16px">
    <div class="col-md">
        <form asp-action="FreeSlots">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div style="display: inline-block;">
                    <label asp-for="SelectedZoneId" class="control-label">Select ParkingZone</label>
                    <select asp-for="SelectedZoneId" class="form-select" asp-items="@Model.ListOfZones"></select>
                </div>
                <div style="display: inline-block; width: 150px; margin-left: 50px;">
                    <label asp-for="Duration" class="control-label">Duration in hours</label>
                    <input asp-for="Duration" class="form-control" min="1"/>
                    <span asp-validation-for="Duration" class="text-danger"></span>
                </div>
                <div style="display: inline-block; margin-left: 50px;">
                    <label asp-for="StartingTime" class="control-label">Starting time</label>
                    <input asp-for="StartingTime" class="form-control"/>
                    <span asp-validation-for="StartingTime" class="text-danger"></span>
                </div>
                <div style="display: inline-block; margin-left: 50px;">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </form>
        <hr/>
    </div>
</div>

@if (Model.ParkingSlots is not null && Model.ParkingSlots.Count() > 0)
{
    <h2>Free Slots</h2>
    <table class="table table-hover" style="text-align: center; font-size: 25px;
        font-family: Bahnschrift; color: white; background-color: #39a0ca">
        <thead style="background-color: #161748;">
            <tr>
                <th>@Html.DisplayName("No")</th>
                <th>@Html.DisplayName("Number")</th>
                <th>@Html.DisplayName("Category")</th>
                <th>@Html.DisplayName("Reserve")</th>
            </tr>
        </thead>
        <tbody>
        @{
            int index = 1;
        }
            @foreach (var item in Model.ParkingSlots)
            {
            <tr>
                <td style="border-right: solid; border-width: 1px; width: 50px">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    <a asp-action="Reserve" asp-route-slotId="@item.Id" asp-route-startTime="@Model.StartingTime" 
                        asp-route-duration="@Model.Duration" class="btn btn-primary">Reserve</a> 
                </td>
            </tr>
            index++;
            }
        </tbody>
    </table>
}
else if (Model.ParkingSlots is not null && Model.ParkingSlots.Count() == 0)
{
    <h3 style="color: red;">No available slots</h3>
}

