@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ParkingZoneApp.ViewModels.ReservationVMs.ReserveVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@Model.ZoneName, in @Model.ZoneAddress</h3>
<hr />
<h4>Reserve Parking Slot Number @Model.SlotNumber</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Reserve">
            <input type="hidden" value="@Model.SlotId" asp-for="SlotId" />
            <input type="hidden" value="@Model.ZoneId" asp-for="ZoneId" />
            <input type="hidden" value="@Model.ZoneName" asp-for="ZoneName" />
            <input type="hidden" value="@Model.ZoneAddress" asp-for="ZoneAddress" />
            <input type="hidden" value="@Model.SlotNumber" asp-for="SlotNumber" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                DateTime minDateTime = DateTime.Now;
                string minDateTimeString = minDateTime.ToString("yyyy-MM-ddTHH:mm");
            }
            <div>
                <label asp-for="StartingTime" class="control-label">Start time: </label>
                <input asp-for="StartingTime" class="form-control" type="datetime-local" min="@minDateTimeString" />
                <span asp-validation-for="StartingTime" class="text-danger"></span>
                <br />
                <label asp-for="Duration" class="control-label">Duration:</label>
                <input asp-for="Duration" class="form-control" type="number" min="1" />
                <span asp-validation-for="Duration" class="text-danger"></span>
                <br />
                <label asp-for="VehicleNumber" class="control-label">Vehicle Number</label>
                <input asp-for="VehicleNumber" class="form-control" maxlength="10"/>
                <span asp-validation-for="VehicleNumber" class="text-danger"></span>
            </div>
            <br />
            @if (Context.Request.Method == "POST" && TempData["ReservationSuccess"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["ReservationSuccess"]
                </div>
                    <script>
                        setTimeout(function () {
                            window.location.href = '@Url.Action("Index", "Reservation", new { area = "User" })';
                        }, 3000);
                    </script>
            }
            else
            {
                <div class="form-group">
                    <input type="submit" value="Reserve" class="btn btn-primary" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-danger">
                        <i class="bi bi-box-arrow-left"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
                        </svg>
                    </a>
                </div>
            }
        </form>
    </div>
</div>