@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ParkingZoneApp.ViewModels.ParkingZoneVMs.ListItemVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-family: Bahnschrift">List of all ParkingZones</h1>

<p style="font-family: Bahnschrift">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<style>
    .crazy-card {
        color: #fff;
        border: 2px solid #fff;
        width: 70%; 
        font-size: 25px;
        font-family: Bahnschrift;
        margin: auto; 
        border-radius: 15px; 
        overflow: hidden;
    }

    .crazy-card-header {
        text-align: center;
        background-color: #008080;
        padding: 10px;
        border-bottom: 2px solid #fff;
    }

    .crazy-card-body {
        background-color: #000;
        padding: 10px;
    }
</style>
@foreach (var item in Model)
{
    <div class="crazy-card">
        <div class="crazy-card-body">
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">Edit</a>
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
            <a asp-controller="ParkingSlot" asp-action="Index" asp-route-zoneId="@item.Id" class="btn btn-outline-light">Slots</a>
            <a asp-action="GetCurrentCars" asp-route-zoneId="@item.Id" class="btn btn-outline-success">Current Cars</a>
        </div>
        <div class="crazy-card-header">
            <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
            <p>Address: @Html.DisplayFor(modelItem => item.Address)</p>
            <p>Establishment Date: @Html.DisplayFor(modelItem => item.CreatedDate)</p>
            <p>Available Slots: @item.NumberOfSlots</p>
            <p>Slots in use: @item.SlotInUse</p>
        </div>
</div>
<br/>
}
