@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ParkingZoneApp.ViewModels.ParkingZoneVMs.ListItemVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of all ParkingZones</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-success table-striped table-hover" style="text-align: center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("No")
            </th>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Addres")
            </th>
            <th>
                @Html.DisplayName("Creation Date")
            </th>
            <th>
                @Html.DisplayName("")
            </th>
        </tr>
    </thead>
    @{
        int index = 1;
    }
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td style="border-right: solid; border-width: 1px ;">
                @index
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a> 
                <a asp-controller="ParkingSlot" asp-action="Index" asp-route-zoneId="@item.Id" class="btn btn-success">Slots</a>
            </td>
        </tr>
    index++;
}
    </tbody>
</table>
