@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ParkingZoneApp.ViewModels.ParkingSlots.ListItemVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of all slots for @ViewData["name"]</h1>
<br />
<table class="table table-success table-striped table-hover" style="text-align: center;">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("No")
            </th>
            <th>
                @Html.DisplayName("Number")
            </th>
            <th>
                @Html.DisplayName("Category")
            </th>
            <th>
                @Html.DisplayName("Available")
            </th>
            <th>
                @Html.DisplayName("Actions")
            </th>
        </tr>
    </thead>
    <tbody>
    @{
        int index = 1;
    }
@foreach (var item in Model) {
        <tr>
            <td style="border-right: solid; border-width: 1px ;">
                @index
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.Raw(item.IsAvailable ? "Available" : "Not Available")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    index++;
}
    </tbody>
</table>
<div class="form-group">
    <a asp-action="Create" asp-route-parkingZoneId="@ViewData["parkingZoneId"]" class="btn btn-primary">Create New</a>
    <a asp-action="Index" asp-controller="ParkingZones" class="btn btn-secondary">Back to ParkingZone</a>
</div>
