@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ParkingZoneApp.ViewModels.ReservationVMs.ListItemVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="font-family: Bahnschrift;">List of reservations by @User.Identity.Name</h3>
<table class="table table-hover" style="text-align: center; font-size: 20px;
        font-family: Bahnschrift; color: white; background-color: #39a0ca">
    <thead style="background-color: #161748;">
        <tr>
            <th>
                @Html.DisplayName("No")
            </th>
            <th>
                @Html.DisplayName("Start time")
            </th>
            <th>
                @Html.DisplayName("Finish time")
            </th>
            <th>
                @Html.DisplayName("Duration")
            </th>
            <th>
                @Html.DisplayName("Vehicle number")
            </th>
            <th>
                @Html.DisplayName("Slot number")
            </th>
            <th>
                @Html.DisplayName("Zone name")
            </th>
            <th>
                @Html.DisplayName("Zone address")
            </th>
            <th>
                @Html.DisplayName("")
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td style="border-right: solid; border-width: 1px;">
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SlotNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZoneName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZoneAddress)
                </td>
                <td>
                    @if(item.StartDate.AddHours(item.Duration) > DateTime.Now)
                    {
                        <a class="btn btn-danger" asp-route-reservationId="@item.Id" asp-controller="Reservation" area="User" asp-action="Prolong">Prolong</a>
                    }
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>